h1{
    color: rgb(82, 21, 18);
    text-align: center;
}
p{
    font-size: 30px;
}
.yellow{
    color: yellow;
}
.green{
    color: green;
}
.red{
    color: red;
}
.bg{
    background: #bfa4a4;
    height:  25vh;
    font-size:  70px;
    color: rgb(55, 141, 24);
    border: #121538  solid 10px;
}
.border-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.rad-10{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #000;
    border-radius: 10px;
    height: 200px;
    width:  200px;
}
.rad-1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #000;
    border-radius: 10%;
    height: 200px;
    width:  200px;
}
.rad-2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #000;
    border-radius: 20px 0 90px 4px;
    height: 200px;
    width:  200px;
}
.img {
    height: fit-content;
    transition: filter 0.3s ease;
    filter: grayscale(100%);
}

.img:hover {
    filter: none;
}
.image-container{
    display: flex;
    justify-content: space-evenly;
}
.img1{
    height: fit-content;
}
.img2 {
    border: #000 solid 3px;
    height: fit-content;
    padding: 30px;
    
}

.img3{
    height: fit-content;
    border-radius: 50%;
}
