.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .flex-direction {
    display: flex;
    flex-direction: column;
    background-color: DodgerBlue;
  }
  .flex-direction >div{
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .flex-row-reverse{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    background-color: DodgerBlue;
  }
  .flex-row-reverse >div{
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .colum-reverse{
    display: flex;
    flex-direction: column-reverse;
    background-color: DodgerBlue;
  }
  .colum-reverse >div{
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .flex-order{
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
  }
  
  .flex-order>div {
    background-color: DodgerBlue;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  #flex-container {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
  }
  
  #flex-container > div {
    background-color: DodgerBlue;
    color: white;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }